.header {
    padding: 9px 0;
    background-color: transparent;
    border-bottom: 1px solid var(--cs-light-gold);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;

    &__container {
        @include flex-all-sb;
    }

    &__right-box {
        @include flex-v-center;
    }

    .logo-link {
        &__img {
            max-width: 135px;
        }
    }

    .nav ul {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;

        li a {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: var(--cs-light);
            transition: all ease-in-out .4s;
            padding-bottom: 32px;
            border-bottom: 3px solid transparent;
        }

        li:hover a {
            color: var(--cs-text);
        }

        li.active a  {
            border-bottom: 3px solid var(--cs-light-gold);
        }

        li:not(:last-child) {
            margin-right: 42px;
        }
    }

    .socials {
        @include flex-all-center;
        gap: 12px;
        margin-left: 100px;
        margin-right: 25px;

        &__link {
            border: 1px solid var(--cs-middle);
            border-radius: 50%;
            width: 35px;
            height: 35px;
            @include flex-all-center;
            transition: all ease-in-out .4s;
        }

        &__icon {
            fill: #EEDECA;
            transition: all ease-in-out .4s;
        }
        &__link:hover .socials__icon {
            transform: scale(1.3);
        }

        &__link.inst:hover {
            border: 1px solid #DD2A7B;
        }
        &__link.inst:hover .socials__icon {
            fill: #DD2A7B;
        }
        &__link.tg:hover {
            border: 1px solid #0088CC;
        }
        &__link.tg:hover .socials__icon {
            fill: #0088CC;
        }
        &__link.fb:hover {
            border: 1px solid #3b5998;
        }
        &__link.fb:hover .socials__icon {
            fill: #3b5998;
        }
    }
    
    .lang {
        position: relative;
        padding-left: 25px;
        color: var(--cs-light);
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            border-left: 1px solid var(--cs-light-gold);
            height: 86px;
            top: calc(50% - 43px);
            left: 0;
        }
    }

    .burger {
        border: none;
        background-color: transparent;
        display: none;
        padding-left: 0;
        cursor: pointer;
        position: relative;
        z-index: 111;
        margin-right: 15px;

        &::before,
        &::after {
            content: "";
            opacity: 0;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--cs-light-gold);
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }


        &.burger--active .img {
            opacity: 0;
        }

        &.burger--active {
            &::before,
            &::after {
                opacity: 1;
                top: 50%;
            }

            &::before {
                transform: rotate(45deg); 
            }
            
            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    .mobile-menu {
        position: absolute;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(47,50,55, .9);
        z-index: 11;
        transition: all ease-in-out .4s;

        &__container {
            width: 98%;
            margin-left: auto;
            background-image: url('../../img/mobile-bg.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;
        }

        &.menu--active {
            right: 0;
        }

        &__top {
            @include flex-all-sb;
            padding: 8px 15px;
            border-bottom: 1px solid var(--cs-light-gold);        
        }

        .lang {
            position: relative;
            padding-right: 30px;
            padding-left: 0;
            margin-right: 80px;
            color: var(--cs-light);
    
            &::before {
                content: "";
                position: absolute;
                border-right: 1px solid var(--cs-light-gold);
                border-left: none;
                height: 86px;
                top: calc(50% - 43px);
                right: 0;
            }
        }
    
        .nav {
            margin-top: 75px;
            margin-bottom: 75px;

            ul {
                flex-direction: column;

                li:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 30px;
                }

                li a {
                    font-size: 20px;
                    line-height: 24px;
                    text-transform: uppercase;
                    padding-bottom: 10px;
                }
            }
        }

        .img-box {
            @include flex-all-center;
        }

        .contacts {
            @include flex-v-center;
            text-align: center;
            flex-direction: column;
            margin-top: 32px;
            margin-bottom: 32px;

            &__phone {
                margin-bottom: 20px;
            }

            &__title {
                font-size: 14px;
                line-height: 140%;
                text-transform: uppercase;
                color: var(--cs-middle);
                margin-bottom: 9px;
            }

            &__link {
                font-size: 20px;
                line-height: 24px;
                color: var(--cs-light);
                transition: all ease-in-out .4s;

                &:hover {
                    color: var(--cs-text);
                }
            }
        }

        .socials {
            gap: 12px;
        }
    }
}

.header.active-scroll {
    background-color: rgba(196, 157, 108, .8);
}