<main class="main">
    <div class="error-page">
        <section class="section-bg inner-section"></section>
        <section class="error">
            <div class="wrapper">
                <div class="error__container">
                    <h1 class="error__title">
                        4<img src="../img/icon/flower-gold.svg" alt="иконка цветок">4
                    </h1>
                    <p class="text">
                        Ви знаходитесь на сторінці 404, тому що ввели адресу сторінки, яка вже 
                        не існує або була переміщена за іншою адресою. Будь ласка, скористайтесь 
                        меню або перейдіть на Головну
                    </p>
                    <a href="/" class="btn-transparent btn-reset">
                        На Головну
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>