<main class="main">
    <div class="about">
        <section class="section-bg inner-section">
            <div class="wrapper">
                <h1 class="inner-title">
                    Про фонд
                </h1>
            </div>
        </section>
        <section class="content">
            <div class="wrapper">
                <div class="content__container">
                    <div class="content__img-text">
                        <picture>
                            <source srcset="../images/about/about-img-1.jpg" type="image/avif">
                            <source srcset="../images/about/about-img-1.jpg" type="image/webp">
                            <img class="img" src="../images/about/about-img-1.jpg" alt="Головна цінність">
                        </picture>
                        <div class="content__descr">
                            <h2 class="title">
                                Головна цінність – 
                            </h2>
                            <p class="text">
                                це життя та здоров’я, і вся Україна об’єдналась у цей критичний час! 
                                В свою чергу Фонд також вносить свій внесок в суспільну справу та намагається 
                                допомогти кожному, хто вимушений був покинути свої домівки, взявши з собою 
                                найважливіше – своїх рідних та близьких. 
                            </p>
                        </div>
                    </div>
                    <div class="content__img-text">
                        <picture>
                            <source srcset="../images/about/about-img-2.jpg" type="image/avif">
                            <source srcset="../images/about/about-img-2.jpg" type="image/webp">
                            <img class="img" src="../images/about/about-img-2.jpg" alt="Головна цінність">
                        </picture>
                        <div class="content__descr">
                            <h2 class="title">
                                Ми відчуваємо біль кожного та розуміємо...
                            </h2>
                            <p class="text">
                                що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все, 
                                що накопичувалось роками. Вся Україна сподівається, щоб якнайшвидше настав мир 
                                в нашій країні та кожен, хто вимушений був покинути свою домівку зможе 
                                повернутись в рідні стіни, але доки чекаємо ці світлі дні, необхідно 
                                забезпечувати базові потреби та побут тих, у кого комфортне та забезпечене 
                                всім необхідним життя, залишилось під обстрілами. 
                                <br><br>
                                Маємо на меті підтримати тих, хто виїхав в незнайоме місце, не маючи даху 
                                над головою, не маючи продуктів харчування та знайомих, готових простягнути руку 
                                допомоги, хочемо, щоб таким знайомим з рятівною рукою для кожного став наш Фонд. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="large-phone">
            <div class="wrapper">
                <div class="large-phone__container">
                    <h2 class="large-phone__title">
                        Якщо Вам потрібна допомога або Ви хочете допомогти, 
                        залишайте своє повідомлення на сайті, обовязково зазначивши мету звернення, 
                        імя та номер телефону або зателефонуйте нам за номером:
                    </h2>
                    <a href="tel:+380682819550" class="large-phone__link">
                        +38 (068) 281-95-50
                    </a>
                </div>
            </div>
        </section>
        <section class="section another-page">
            <div class="wrapper">
                <h2 class="another-page__title">
                    Корисна інформація на сайті
                </h2>
                <p class="text">
                    Крім того, на нашому сайті Ви зможете знайти актуальну інформацію, щодо програм, 
                    впроваджених державою або місцевою владою для допомоги внутрішньо переміщеним особам, 
                    інформацію щодо державних та соціальних установ, які проводять реєстрацію внутрішньо 
                    переміщених осіб та іншу корисну і важливу інформацію.  
                </p>
                <a href="#" target="_blank" class="btn-transparent btn-reset">
                    Детальніше
                </a>
            </div>
        </section>
    </div>
    <section class="section banner">
        <div class="wrapper">
            <div class="banner__container">
                <div class="img-box left-img">
                    <picture>
                        <source srcset="../images/title-img-1.png" type="image/avif">
                        <source srcset="../images/title-img-1.png" type="image/webp">
                        <img src="../images/title-img-1.png" alt="найменша дoбра справа краще, ніж найбільший намір">
                    </picture>
                </div>
                <h2 class="banner__title">
                    найменша<br> д<img src="../images/icon/flower-gold.svg" alt="иконка цветок.">бра 
                    справа краще, ніж найбільший намір <img src="../images/icon/title-heart.svg" alt="иконка сердца"><br>
                    <span class="banner__title-author">(Кант)</span>
                </h2>
                <div class="img-box right-img">
                    <picture>
                        <source srcset="../images/title-img-2.png" type="image/avif">
                        <source srcset="../images/title-img-2.png" type="image/webp">
                        <img class="desk" src="../images/title-img-2.png" alt="найменша дoбра справа краще, ніж найбільший намір">
                    </picture>
                    <picture>
                        <source srcset="../images/title-img-2-mob.png" type="image/avif">
                        <source srcset="../images/title-img-2-mob.png" type="image/webp">
                        <img class="mob" src="../images/title-img-2-mob.png" alt="найменша дoбра справа краще, ніж найбільший намір">
                    </picture>
                </div>
            </div>
        </div>
    </section>
</main>