<section class="section contacts">
    <div class="wrapper">
        <h2 class="title title-mob">
            Хочете допомогти, але так і не розібрались як<br>саме це зробити?
        </h2>
        <div class="contacts__container">
            <picture>
                <source srcset="../images/girl.png" type="image/avif">
                <source srcset="../images/girl.png" type="image/webp">
                <img class="img" src="../images/girl.png" alt="изображение девушка">
            </picture>
            <div class="contacts__content">
                <h2 class="title">
                    Хочете допомогти, але так і не розібрались як<br>саме це зробити?
                </h2>
                <div class="contacts__info">
                    <div class="phones">
                        <h3 class="contacts__info-title">
                            Телефонуйте за номером:
                        </h3>
                        <a href="tel:+380682819550" class="contacts__info-link">
                            +38 (068) 281-95-50
                        </a>
                    </div>
                    <div class="mail">
                        <h3 class="contacts__info-title">
                            Пишіть на електронну адресу:
                        </h3>
                        <a href="mailto:sunuaflower@gmail.com" class="contacts__info-link">
                            sunuaflower@gmail.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <a class="logo-link" href="/">
        <img class="logo-link__img" src="../images/icon/logo-white.svg" alt="Логотип: Sunflower-допомагаємо сьогодні">
    </a>
    <div class="footer__container">
        <div class="wrapper">
            <div class="footer__bottom">
                <strong class="copyright">
                    Всі права захищені. 2022. Charitable Foundation Sunflower
                </strong>
                <button class="btn-reset scroll-top"></button>
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="#">
                                Про Фонд
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Корисна інформація
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Контакти
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Звіти
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
