<main class="main">
    <section class="section section-bg main-screen">
        <div class="wrapper">
            <div class="main-screen__container">
                <div class="main-screen__content">
                    <h3 class="subtitle">
                        Благодійна організація «Благодійний Фонд»
                    </h3>
                    <h1 class="main-title">
                        Sunfl<img src="../img/icon/flower.svg" alt="иконка: цветок">wer-
                        допомагаємо сьогодні
                    </h1>
                    <div class="main-screen__info">
                        <p class="text">
                            <span class="text--bold">Виїжджаючи в Одеську область, знайте</span> 
                            – Ви не самотні в своїй біді, тут є кому Вам простягнути руку допомоги. 
                            Всі райони Одеської області проводять реєстрацію вимушено переміщених осіб, 
                            зареєструватись в місці, де Ви зупинились не складно та цього вже достатньо, 
                            щоб скористатись наявними можливостями Фонду.
                        </p>
                        <a href="#" target="_blank" class="play-video">
                            <img class="img" src="../img/icon/video-btn.svg" alt="Дивитись відео">
                        </a>
                    </div>
                </div>
                <div class="main-screen__slider">
                    <div class="swiper main-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="main-slider__slide">
                                    <img class="img" src="../img/main-slider/img-1-min.jpg" alt="Благодійна організація «Благодійний Фонд»">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="main-slider__slide">
                                    <img class="img" src="../img/main-slider/img-2-min.jpg" alt="Благодійна організація «Благодійний Фонд»">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next main-slider__btns"></div>
                        <div class="swiper-button-prev main-slider__btns"></div>
                    </div>
                </div>
                <div class="main-screen__info mob">
                    <p class="text">
                        <span class="text--bold">Виїжджаючи в Одеську область, знайте</span> 
                        – Ви не самотні в своїй біді, тут є кому Вам простягнути руку допомоги. 
                        Всі райони Одеської області проводять реєстрацію вимушено переміщених осіб, 
                        зареєструватись в місці, де Ви зупинились не складно та цього вже достатньо, 
                        щоб скористатись наявними можливостями Фонду.
                    </p>
                    <a href="#" target="_blank" class="play-video">
                        <img class="img" src="../img/icon/video-btn.svg" alt="Дивитись відео">
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>