<main class="main">
    <section class="section-bg main-screen">
        <div class="wrapper">
            <div class="main-screen__container">
                <div class="main-screen__content">
                    <h3 class="subtitle">
                        Благодійна організація «Благодійний Фонд»
                    </h3>
                    <h1 class="main-title">
                        Sunfl<img src="../img/icon/flower.svg" alt="иконка: цветок">wer-
                        допомагаємо сьогодні
                    </h1>
                    <div class="main-screen__info">
                        <p class="text">
                            <span class="text--bold">Виїжджаючи в Одеську область, знайте</span> 
                            – Ви не самотні в своїй біді, тут є кому Вам простягнути руку допомоги. 
                            Всі райони Одеської області проводять реєстрацію вимушено переміщених осіб, 
                            зареєструватись в місці, де Ви зупинились не складно та цього вже достатньо, 
                            щоб скористатись наявними можливостями Фонду.
                        </p>
                        <a href="#" target="_blank" class="play-video">
                            <img class="img" src="../img/icon/video-btn.svg" alt="Дивитись відео">
                        </a>
                    </div>
                </div>
                <div class="main-screen__slider">
                    <div class="swiper main-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="main-slider__slide">
                                    <picture>
                                        <source srcset="../img/main-slider/img-1.avif" type="image/avif">
                                        <source srcset="../img/main-slider/img-1.webp" type="image/webp">
                                        <img class="img" src="../img/main-slider/img-1.jpg" alt="Благодійна організація «Благодійний Фонд»">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="main-slider__slide">
                                    <picture>
                                        <source srcset="../img/main-slider/img-2.avif" type="image/avif">
                                        <source srcset="../img/main-slider/img-2.webp" type="image/webp">
                                        <img class="img" src="../img/main-slider/img-2.jpg" alt="Благодійна організація «Благодійний Фонд»">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next main-slider__btns"></div>
                        <div class="swiper-button-prev main-slider__btns"></div>
                    </div>
                </div>
                <div class="main-screen__info mob">
                    <p class="text">
                        <span class="text--bold">Виїжджаючи в Одеську область, знайте</span> 
                        – Ви не самотні в своїй біді, тут є кому Вам простягнути руку допомоги. 
                        Всі райони Одеської області проводять реєстрацію вимушено переміщених осіб, 
                        зареєструватись в місці, де Ви зупинились не складно та цього вже достатньо, 
                        щоб скористатись наявними можливостями Фонду.
                    </p>
                    <a href="#" target="_blank" class="play-video">
                        <img class="img" src="../img/icon/video-btn.svg" alt="Дивитись відео">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section how-help">
        <div class="wrapper">
            <div class="titles-wrap">
                <h3 class="subtitle">
                    ваші можливості
                </h3>
                <h2 class="title">
                    Як ви можете допомогти
                </h2>
            </div>
            <div class="how-help__container">
                <div class="how-help__menu">
                    <h3 class="how-help__title">
                        Перелік того,<br> чим можна допомогти:
                    </h3>
                    <nav class="menu">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="../img/icon/products.svg" alt="Продукти харчування">
                                    <span class="image-title">Продукти харчування</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../img/icon/clothes.svg" alt="Одяг">
                                    <span class="image-title">Одяг</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../img/icon/hygiene.svg" alt="Засоби гігієни">
                                    <span class="image-title">Засоби гігієни</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../img/icon/work.svg" alt="Робота">
                                    <span class="image-title">Робота</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../img/icon/medicine.svg" alt="Медикаменти">
                                    <span class="image-title">Медикаменти</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../img/icon/children.svg" alt="Допомога дітям">
                                    <span class="image-title">Допомога дітям</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../img/icon/building.svg" alt="Будівництво">
                                    <span class="image-title">Будівництво</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../img/icon/money.svg" alt="Гроші">
                                    <span class="image-title">Гроші</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../img/icon/other.svg" alt="Інше">
                                    <span class="image-title">Інше</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="how-help__flower">
                    <nav class="menu">
                        <ul>
                            <li>
                                <a href="#" title="Продукти харчування">
                                    <img src="../img/icon/products.svg" alt="Продукти харчування">
                                    <span class="image-title">Продукти харчування</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Одяг">
                                    <img src="../img/icon/clothes.svg" alt="Одяг">
                                    <span class="image-title">Одяг</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Засоби гігієни">
                                    <img src="../img/icon/hygiene.svg" alt="Засоби гігієни">
                                    <span class="image-title">Засоби гігієни</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Робота">
                                    <img src="../img/icon/work.svg" alt="Робота">
                                    <span class="image-title">Робота</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Медикаменти">
                                    <img src="../img/icon/medicine.svg" alt="Медикаменти">
                                    <span class="image-title">Медикаменти</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Допомога дітям">
                                    <img src="../img/icon/children.svg" alt="Допомога дітям">
                                    <span class="image-title">Допомога дітям</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Будівництво">
                                    <img src="../img/icon/building.svg" alt="Будівництво">
                                    <span class="image-title">Будівництво</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Гроші">
                                    <img src="../img/icon/money.svg" alt="Гроші">
                                    <span class="image-title">Гроші</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Інше">
                                    <img src="../img/icon/other.svg" alt="Інше">
                                    <span class="image-title">Інше</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="extra-links">
                        <a href="#" class="extra-links__link">
                            Получить помощь
                        </a>
                        <a href="#" class="extra-links__link">
                            наша політика конфіденційності
                        </a>
                    </div>
                </div>
                <div class="how-help__list">
                    <h3 class="how-help__title">
                        крок за кроком<br> для допомоги:
                    </h3>
                    <ul class="list">
                        <li class="item">
                            Вибрати необхідну вкладку (пелюстку або серединку);
                        </li>
                        <li class="item">
                            Отримайте інформацію та залиште повідомлення;
                        </li>
                        <li class="item">
                            Зробіть пожертву або зв'яжіться з нами;
                        </li>
                        <li class="item">
                            Відстежуйте наші новини, де ми викладаємо наші фото-звіти.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>