<main class="main">
    <div class="news-page">
        <section class="section-bg inner-section">
            <div class="wrapper">
                <h1 class="inner-title">
                    Новини
                </h1>
            </div>
        </section>
        <div class="news">
            <div class="wrapper">
                <div class="news__container">
                    <div style="background-image: url('../images/news/preview-1.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('../images/news/preview-2.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('../images/news/preview-3.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('../images/news/preview-4.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('../images/news/preview-1.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('../images/news/preview-2.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('../images/news/preview-3.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('../images/news/preview-4.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('../images/news/preview-1.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('../images/news/preview-2.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('../images/news/preview-3.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('../images/news/preview-4.jpg');" class="news__item">
                        <div class="news__content">
                            <h4 class="news__title">
                                Збір пожертвування для маленького Дениса
                            </h4>
                            <div class="news__btns">
                                <a href="#" target="_blank" class="news__link news__want-help">
                                    Хочу допомогти
                                </a>
                                <a href="#" target="_blank" class="news__link news__read-more">
                                    Читати
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>