<main class="main">
    <div class="one-news-page">
        <section class="section-bg inner-section"></section>
        <div class="one-news">
            <div class="wrapper">
                <div class="one-news__container">
                    <div class="one-news__content">
                        <img class="large-image" src="../img/one-news/one-news-large.jpg" alt="Збір пожертвування для маленького Дениса">
                        <div class="content">
                            <h1 class="title">
                                Збір пожертвування для маленького Дениса
                            </h1>
                            <p class="text">
                                що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все, що накопичувалось роками. 
                                Вся Україна сподівається, щоб якнайшвидше настав мир в нашій країні та кожен, хто вимушений був покинути 
                                свою домівку зможе повернутись в рідні стіни, але доки чекаємо ці світлі дні, необхідно забезпечувати базові 
                                потреби та побут тих, у кого комфортне та забезпечене всім необхідним життя, залишилось під обстрілами. 
                                <br><br>
                                Маємо на меті підтримати тих, хто виїхав в незнайоме місце, не маючи даху над головою, не маючи продуктів 
                                харчування та знайомих, готових простягнути руку допомоги, хочемо, щоб таким знайомим з рятівною рукою для 
                                кожного став наш Фонд. що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все, що 
                                накопичувалось роками. Вся Україна сподівається, щоб якнайшвидше настав мир в нашій країні та кожен, хто 
                                вимушений був покинути свою домівку зможе повернутись в рідні стіни, але доки чекаємо ці світлі дні, необхідно 
                                забезпечувати базові потреби та побут тих, у кого комфортне та забезпечене всім необхідним життя, залишилось під обстрілами. 
                                <br><br>
                                Маємо на меті підтримати тих, хто виїхав в незнайоме місце, не маючи даху над головою, не маючи продуктів 
                                харчування та знайомих, готових простягнути руку допомоги, хочемо, щоб таким знайомим з рятівною рукою для 
                                кожного став наш Фонд. що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все, що 
                                накопичувалось роками. Вся Україна сподівається, щоб якнайшвидше настав мир в нашій країні та кожен, хто 
                                вимушений був покинути свою домівку зможе повернутись в рідні стіни, але доки чекаємо ці світлі дні, необхідно 
                                забезпечувати базові потреби та побут тих, у кого комфортне та забезпечене всім необхідним життя, залишилось 
                                під обстрілами. Маємо на меті підтримати тих, хто виїхав в незнайоме місце, не маючи даху над головою, не маючи 
                                продуктів харчування та знайомих, готових простягнути руку допомоги, хочемо, щоб таким знайомим з рятівною рукою 
                                для кожного став наш Фонд. 
                            </p>
                            <ul class="list">
                                <li class="item">Що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все;</li>
                                <li class="item">Вся Україна сподівається, щоб якнайшвидше настав мир в нашій країні</li>
                                <li class="item">Що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все;</li>
                                <li class="item">Що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все;</li>
                                <li class="item">Що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все;</li>
                                <li class="item">Що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все;</li>
                            </ul>
                            <div class="images">
                                <img src="../img/one-news/one-news-small.jpg" alt="Збір пожертвування для маленького Дениса" class="img images__sm">
                                <img src="../img/one-news/one-news-medium.jpg" alt="Збір пожертвування для маленького Дениса" class="img images__md">
                            </div>
                            <p class="text border-bottom">
                                <br><br>
                                що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все, що накопичувалось роками. 
                                Вся Україна сподівається, щоб якнайшвидше настав мир в нашій країні та кожен, хто вимушений був покинути 
                                свою домівку зможе повернутись в рідні стіни, але доки чекаємо ці світлі дні, необхідно забезпечувати базові 
                                потреби та побут тих, у кого комфортне та забезпечене всім необхідним життя, залишилось під обстрілами. 
                                <br><br>
                                Маємо на меті підтримати тих, хто виїхав в незнайоме місце, не маючи даху над головою, не маючи продуктів 
                                харчування та знайомих, готових простягнути руку допомоги, хочемо, щоб таким знайомим з рятівною рукою для кожного 
                                став наш Фонд. що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все, що накопичувалось роками. 
                                Вся Україна сподівається, щоб якнайшвидше настав мир в нашій країні та кожен, хто вимушений був покинути свою домівку 
                                зможе повернутись в рідні стіни, але доки чекаємо ці світлі дні, необхідно забезпечувати базові потреби та побут тих, 
                                у кого комфортне та забезпечене всім необхідним життя, залишилось під обстрілами. 
                                <br><br>
                                Маємо на меті підтримати тих, хто виїхав в незнайоме місце, не маючи даху над головою, не маючи продуктів харчування 
                                та знайомих, готових простягнути руку допомоги, хочемо, щоб таким знайомим з рятівною рукою для кожного став наш Фонд. 
                                що тікаючи під кулями й ракетними обстрілами ніхто не може взяти з собою все, що накопичувалось роками. Вся Україна сподівається, 
                                щоб якнайшвидше настав мир в нашій країні та кожен, хто вимушений був покинути свою домівку зможе повернутись в рідні стіни, 
                                але доки чекаємо ці світлі дні, необхідно забезпечувати базові потреби та побут тих, у кого комфортне та забезпечене всім 
                                необхідним життя, залишилось під обстрілами. Маємо на меті підтримати тих, хто виїхав в незнайоме місце, не маючи даху над 
                                головою, не маючи продуктів харчування та знайомих, готових простягнути руку допомоги, хочемо, щоб таким знайомим з рятівною 
                                рукою для кожного став наш Фонд. 
                            </p>
                            <div class="content__bottom">
                                <div class="date">
                                    12/03/2022
                                </div>
                                <a href="#" target="_blank" class="back-link">
                                    Всі новини
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="news one-news__latest">
                        <h2 class="one-news__title">
                            Останні новини
                        </h2>
                        <div class="latest-blocks">
                            <div class="news__content">
                                <h4 class="news__title">
                                    Збір пожертвування для маленького Дениса
                                </h4>
                                <div class="news__btns">
                                    <a href="#" target="_blank" class="news__link news__want-help">
                                        Хочу допомогти
                                    </a>
                                    <a href="#" target="_blank" class="news__link news__read-more">
                                        Читати
                                    </a>
                                </div>
                            </div>
                            <div class="news__content">
                                <h4 class="news__title">
                                    Збір пожертвування для маленького Дениса
                                </h4>
                                <div class="news__btns">
                                    <a href="#" target="_blank" class="news__link news__want-help">
                                        Хочу допомогти
                                    </a>
                                    <a href="#" target="_blank" class="news__link news__read-more">
                                        Читати
                                    </a>
                                </div>
                            </div>
                            <div class="news__content">
                                <h4 class="news__title">
                                    Збір пожертвування для маленького Дениса
                                </h4>
                                <div class="news__btns">
                                    <a href="#" target="_blank" class="news__link news__want-help">
                                        Хочу допомогти
                                    </a>
                                    <a href="#" target="_blank" class="news__link news__read-more">
                                        Читати
                                    </a>
                                </div>
                            </div>
                            <div class="news__content">
                                <h4 class="news__title">
                                    Збір пожертвування для маленького Дениса
                                </h4>
                                <div class="news__btns">
                                    <a href="#" target="_blank" class="news__link news__want-help">
                                        Хочу допомогти
                                    </a>
                                    <a href="#" target="_blank" class="news__link news__read-more">
                                        Читати
                                    </a>
                                </div>
                            </div>
                            <div class="news__content">
                                <h4 class="news__title">
                                    Збір пожертвування для маленького Дениса
                                </h4>
                                <div class="news__btns">
                                    <a href="#" target="_blank" class="news__link news__want-help">
                                        Хочу допомогти
                                    </a>
                                    <a href="#" target="_blank" class="news__link news__read-more">
                                        Читати
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>