@include tablet {
    .error-page {
        .error {
            padding-top: 150px;
            justify-content: flex-start;
        }
    }
}

@include small-tablet {
    .error-page {
        height: 100vh;

        .error {
            padding-top: 80px;
            justify-content: flex-start;
            background-position: center;

            &__title {
                justify-content: center;
            }
            
            .text {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }

            .btn-transparent {
                margin: 0 auto;
            }
        }
    }
}